@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');
*{
  background-color:#dbe5e6;
}
 
.form-row{
  width: 650px;
  padding-top: 75px;
}
.navbar-brand{
  background: #000;
}
.jed{
  position: absolute;
  left: 650px;
}

 
 
 .lk{
   position: absolute;
   left: 250px;

 }
 .container{
  padding-top: 150px;

 }